
$main-bg-color: #FFFFFF;
$footer-bg-color: #2F303A;
$hero-title-map-color: #FFFFFF;
$adress-color: rgba(255, 255, 255, 0.6);
$main-text-color: #757575;
$accent-color: #2196F3;
$title-nav-color: #212121;
$bg-button-color: #F5F4FA;
$box-shadow-color: 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 1px 2px rgba(0, 0, 0, 0.08),
 0px 2px 2px rgba(0, 0, 0, 0.12);
$outline-color: #EEEEEE;
$icon-color: #AFB1B8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);